IMMICH_HOST=https://demo.immich.app/
TZ=US/Eastern
ENABLE_SFTP=true
ENABLE_FTP=true
ENABLE_WEBDAV=true
SFTP_PORT=22
FTP_PORT=21
WEBDAV_PORT=1900
LISTEN_HOST=0.0.0.0
SETTINGS_FILE_PATH=/config/{userId}.yaml
LOCAL_FILES_MODE=true
READ_BATCH_SIZE=256
IMMICH_UPLOAD_FOLDER="/srv/immich/upload"